:root{
    --button-inner:inset 0px 5px 8px #dededea3;
    --button-outer:5px 5px 15px #bebebeab;
    --grey-text:#7B7B7B;
    --main-orange:#FA8873;
    --main-purple:#5D5D71;
  }

body{
    margin: 0px;
    box-sizing: border-box;
    height: 2000px;
    background-color: #FAFAFA;
}

h5,h6{
    letter-spacing: .1rem;
  }
  h5{
    font-size: 1rem;
    /* margin-bottom: 1.5rem; */
  }

.a{
    width: 300px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: #E8E8E8;
    border-radius:50% ;
    position: relative;
    top: 25px;
}

.circle1{
    background-color: #D6D4E9;
    width: 50px;
    height: 50px;
}
.circle h6 {
  margin-top: 60px;
  text-align: center;
  width: 85PX;
  /* TEXT-ALIGN: CENTER; */
  /* MARGIN: 58px AUTO; */
  margin-left: -1rem;
}
.container{
    width: 800px;
    margin: 0px auto;
}
.container h1{
    text-align: center;
}
.congrats{
    margin-top: 100px;
    text-align: center;
}
.accordion {
    max-width: 80%;
    box-shadow: var(--button-outer);
    margin: 0px auto;
    background: white;
    padding:15px 20px;
 
  }
  
  .a_label {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  }
  
  .a_label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .a_label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 20px;
    height: 10px;
    background-image: url('./LOGO_ICON/caret-down-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.4s;
  }
  
  .a_content {
    background: #ffffff;
    font-size: 16px;
    display: none;
  }
  .a_input {
    display: none;
  }
  .a_input:checked ~ .a_content {
    display: block;
  }
  .a_input:checked ~ .a_label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  .msg {
    padding: 10px 15px;
    background-color: #FDFFE6;
    text-align: center;
    margin-top: 3rem;
}
  .red{
      color:#EA4A30;
  }
  .right{
      text-align: right;
  }
  .a_content h6{
      color: gray;
      font-size: 16px;
      margin: 5px;
  }
  
  .l_part{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.back{
    background-color: #E8E8E8;
    width: 175px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    color: gray;
}
.next {
    background-color: #fa8873;
    box-shadow: var(--button-outer);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    color: white;
    margin-left: 20px;
  }

  
@media screen and (max-width:500px) {
    .container{
        width: 320px;
    }
    h6.right{
      text-align: center;
    }
    
  .next {
    width: 100%;
    margin-left: 1rem;
}
.back {
  width: 100%;
  margin-left: 1rem;
}
}