:root{
  --button-inner:inset 0px 5px 8px #dededea3;
  --button-outer:5px 5px 15px #bebebeab;
  --grey-text:#7B7B7B;
  --main-orange:#FA8873;
  --main-purple:#5D5D71;
}

body {
  margin: 0px;
  box-sizing: border-box;
  height: 2000px;
  background-color: #fafafa;
}
h5,h6{
  letter-spacing: .1rem;
}
h5{
  font-size: 1rem;
  /* margin-bottom: 1.5rem; */
}
.wrap {
  min-height: auto !important;
}
input[type="text"],
select:focus {
  outline: none;
}
.a {
  width: 300px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: #e8e8e8;
  border-radius: 50%;
  position: relative;
  top: 25px;
}

.circle1 {
  background-color: #d6d4e9;
  width: 50px;
  height: 50px;
}
.circle h6 {
  margin-top: 60px;
  text-align: center;
  width: 85PX;
  /* TEXT-ALIGN: CENTER; */
  /* MARGIN: 58px AUTO; */
  margin-left: -1rem;
}
.container {
  width: 80%;
  margin: 0px auto;
}
.container h4 {
  text-align: center;
  margin-top: 2rem;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.option_method {
  margin-top: 100px;
}

.list{
  margin-bottom: 5rem;
}

.list_head{
  display: inline-block;
  margin-bottom: .5rem;
  MARGIN-TOP: 3REM;
}

.brand{
  font-size: 1.2rem;
  color: var(--grey-text);
}

.product_list {
  border-bottom: 1px dashed gray;
  margin-top: 50px;
}

.product_info {
  display: flex;
  justify-content: flex-start;
}

.product_info img{
  width: 20%;
}

.l_part {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}
.center {
  margin-left: 30px;
  margin-top: 2rem;
}
.center span{
  color: var(--grey-text);
  letter-spacing: .1rem;
}
h4.right {
  text-align: right;
  color: #fa8873;
  font-size: 24px;
  margin: 0 0 10px 0;
  font-weight: 600;
  letter-spacing: .1rem;
}
/* 第一個select */
select {
  width: 30%;
  height: 40px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  outline: none;
  appearance: none;
  background-color: white;
  cursor: pointer;
  border-radius: 2px;
  /* box-shadow: 0 3px 6px #959595; */
}
.select_tri {
  position: relative;
}
.tri {
  width: 40px;
  height: 100%;
  display: block;
  background-color: #a4a0cc;
  position: absolute;
  top: 0;
  left: calc(30% - 40px);
  pointer-events: none;
  background-image: url(../img/angle-down-solid.svg);
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s;
  background-size: 30%;
  border-radius: 0px 3px 3px 0px;
}
.tri::after {
  transform: rotateY(180deg);
}
.credit {
  display: none;
  margin-top: 50px;
}
.invoice_type {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  margin: 30px 20px 10px 0;
}
.invoice_type h6 {
  margin-right: 15px;
}
.invoice_type select {
  width: 220px;
  margin-left: 10px;
}
.invoice_type .tri {
  position: absolute;
  top: 0;
  left: 190px;
}

/* 配送資料 */
.logistics_info {
  background-color: #f4f4f4;
  color: #959595;
  padding: 10px 20px;
  margin-bottom: 2rem;
}
.info {
  margin-top: 30px;
}
.info h5 {
  margin-top: 0px;
  margin-bottom: .5rem;
}

.info>p {
  background-color: #ffd3cb8f;
  padding: .5rem 0;
  color: #d84444;
}

.back {
  background-color: #e8e8e8;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  color: gray;
  /* box-shadow: var(--button-outer); */
}
.next {
  background-color: #fa8873;
  box-shadow: var(--button-outer);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  color: white;
  margin-left: 20px;
}
.bill_2,
.bill_3 {
  display: none;
  /* margin-top: 5px; */
}
/* credit card */
form input[type="text"] {
  max-width: 35%;
  margin: 0px .5rem;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ffffff;
  padding-left: 1rem;
}

.jp-card-front {
  background: linear-gradient(45deg, #f7cdcd, #a4a0cc) !important;
}
.jp-card-back {
  background: linear-gradient(45deg, #a4a0cc, #f7cdcd) !important;
}
/* rwd */
@media screen and (max-width: 500px) {
  .container {
    width: 98% !important;
    padding: 0px !important;
  }
  .datpayment-form {
    width: 340px;
  }
  h5 {
    font-size: 18px !important;
  }
  h6 {
    font-size: 16px !important;
  }
  .right {
    font-size: 22px;
  }

  .product_info h4 {
    margin: 20px 0;
    font-size: 20px;
  }
  .product_list {
    margin-top: 20px;
  }
  select {
    width: 50%;
  }
  .tri {
    left: 125px;
  }
  .invoice_type {
    display: block;
  }
  .invoice_type .bill_3 {
    margin-left: 10px;
  }
  .invoice_type .tri {
    left: 191px;
  }
}
