.display_1{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

.display_2{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
}
.display_3{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}

.display_title{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
    font-family: 'Fira Sans', sans-serif;
}
.display_title_2{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
}

/*---font style */

/* BGC */
.bg-light {
    background-color: #eff2f4!important;
}

/* 兩大分頁 */
.lgbtn {
    box-shadow: 0 15px 20px rgba(204, 204, 204, 0.2);
}

.btn-group-lg>.btn, .btn-lg{
    padding: 1rem 1rem;
    margin-top: 2rem;
}

.btn-light {
    color: rgba(119,119,119,1);
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    background-color: rgba(223, 223, 223, 0.6);
    border-color: transparent;
    color: rgba(119,119,119,1);
}



/* 熱門商品 */
.lgtitle {
    text-align: center;
    padding-top: 5%;
}

/* 路徑 */
.path a {
    color: #212529;
}

.pathnfilter {
    display: flex;
    justify-content: space-between;
}




/* sidebar */
.l_part {
    width: 216px;
    /* min-height: 915px; */
    background-color: #d9f3ff8c;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    position: sticky;
    left: 0;
    top: 0;
    margin-bottom: 5rem;
}

.l_part>h3{
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.l_part>h5 {
    font-size: 1rem;
    color: #5c5c5c;
    letter-spacing: .1rem;
}

.l_part label{
    color: #737373;
}

.l_part input {
    margin: 10px;
    /* appearance: none; */
    height: 20px;
    width: 20px;
    background-color: white;
    cursor: pointer;

}

.l_part div {
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
}

.l_part img {
    width: 1vh;
    height: 1vh;
}

/* 右大半部 */


.mainpart {
    display: flex;
    justify-content: flex-start;
}

.r_part {
    width: 100%;
    margin-bottom: 5rem;
}

/* 右上部分類選單 */
.smbtn {
    width: 100%;
    text-align: center;
}

.smbtn a {
    color: gray;
}

.smbtn.active {
    color: black;
}

.minibtn {
    justify-content: flex-start;
}

.minibtn a {
    color: black;
    margin: auto 10px;
}

/* 右下半部卡片 */

.maincards {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.maincards .card {
    padding: 15px;
    border: none;
    border-radius: 20px 20px;
    margin: 20px 0px 10px 0px;
    box-shadow: 0 15px 20px rgb(204 204 204 / 30%);
}   


.maincards a {
    /* margin-top: 10px; */
    width: 70%;
    display: block;
    margin: 0 auto;
    color: black;
    text-decoration: underline;
}

.maincards a:hover {
    text-decoration: none;
}

.maincards .card>svg {
    margin-left: -15px
}

/* 卡片 */
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: rgb(0 0 0 / 4%);
    border-bottom:none
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    /* border-color: #dee2e6 #dee2e6 #fff; */
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}


.firstline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.firstline button{
    border: none;
    background: transparent;
    color: #737373;
}

.firstline .card-title{
    margin-bottom: 0;
    margin-right: auto;
}

h5.card-title{
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mainpart .card-body {
    display: flex;
    justify-content: space-between;
}

.mainpart .card-body .price {
    /* text-decoration: underline; */
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 700;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

.mainpart .card-body .price:hover {
    color: black;
    text-decoration: none;
}

.firstline a {
    color: gray;
}

.firstline img {
    color: #737373;
    width: 16px;
    /* height: 14px; */
    /* padding-right: 3PX; */
    MARGIN-RIGHT: .5REM;
}

.joincart {
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    background: transparent;
    color: #000000;
    /* padding-bottom: 1px; */
    letter-spacing: .1rem;
    font-weight: 300;
    border-bottom: 1px solid black;
}

.joincart:hover {
    color: black;
    text-decoration: none;
}

.card>svg {
    margin-top: 20px;
}

svg {
    right: 0px;
}



/* MOBILES */
@media screen and (max-width: 375px) {
    .display_1{
        letter-spacing: .3rem;
    }
    
    .btn-group-lg>.btn, .btn-lg {
        padding: .5rem;
        margin-top: 2rem;
    }

    .lgbtn .btn-group a {
        font-size: 1rem;
    }

    .lgtitle h4 {
        letter-spacing: .2rem;
        font-weight: 500;
    }


    .path a, .path P {
        font-size: 0.5rem;
        color: #737373;
    }

    .path {
        text-align: center;
    }

    /* .card {
        width: 100%;
    }

    .card img {
        width: 80px;
    } */

    .web_part {
        display: none;
    }


    div.l_part {
        display: none;
    }

    div.smbtn {
        display: none;
    }


    .head {
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .m_button {
        background-color: white;
        color: black;
        text-align: center;
        width: 80px;
        min-height: 10px;
        box-shadow:5px 5px 15px #bebebeab;
        border-radius: 5px;
        border: 0;
        font-size: 10px;
    }


    .s_select {
        position: absolute;
        top: 43px;
        right: 20px;
        background-color: white;
        box-shadow: 0 6px 12px #000000;
        display: none;
        margin-top: 120px;
    }

    .s_select label {
        display: flex;
        align-items: center;
        margin: 5px;
    }

    .s_select  {
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 10%;
        border: 1px solid black;
        margin: 5px;
    }

    .dropdown_btn {
        background-color: white;
        color: black;
        text-align: center;
        width: 80px;
        min-height: 10px;
        box-shadow:5px 5px 15px #bebebeab;
        border-radius: 5px;
        border: 0;
        font-size: 10px;
        margin-left: .3rem;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 300;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        font-size: .8rem;
    }

    /* 
    .s_select h6 {
        background-color: #F4F4F4;
        padding: 10px 0px 10px 10px;
    } */

    /* m_card */
    .m_card_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .m_card_head > h6{
        max-width: 60%;
        font-size: .8rem;
        letter-spacing: .1rem;
        font-weight: 500;
        border-bottom: 1px solid black;
        padding-bottom: .2rem;
        display : inline-block;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
        }

    .m_card_head img{
    width: 15px;
    margin-left: 10px;
    }

    .m_body{
    width: 90%;
    margin: 0px auto;
    }

    .m_card {
        width: 100%;
        height: 126px;
        box-shadow: 5px 5px 15px #a0a0a0e8;
        padding: 8px;
        border-radius: 10px;
        background: #ffffff73;
        margin-bottom: .6rem;
    }

    .card_center{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .card_center img{
        width: 80px;
    }
    .r_rpart{
        display: flex;
        align-items: flex-end; 
        justify-content: flex-end;
    }
    .r_rpart img{
        width: 10px;
    }
    .m_rpart{
        display: flex;
        flex-direction: column;  
        align-items: flex-end; 
        
    }
    
    .m_button1 {
        min-height: 30px;
        text-align: center;
        border-radius: 7px;
        border: none;
        background-color: #FFFFFF;
        box-shadow: 0 5px 10px #bebebe;
        display: flex;
        align-items: center;
        font-size: 10px;
    }

    .m_button2{
        font-size: 10px;
        margin-bottom: 2%;
    }

    .m_price {
        margin-bottom: 0;
        letter-spacing: .1rem;
        font-weight: 600;
        font-size: .8rem;
    }
}

@media screen and (min-width:400px) {
    .moblie_part {
        display: none;
    }
}