 *{
   /* outline: 1px solid red; */
 }

 /* DESIGN GROUP */
:root{
  --button-inner:inset 0px 5px 8px #dededea3;
  --button-outer:5px 5px 15px #bebebeab;
  --grey-text:#7B7B7B;
  --main-orange:#FA8873;
  --main-purple:#5D5D71;
}

 .wrap {
  /*可佔滿垂直剩餘的空間*/
  flex-grow: 1;

  min-height: 100px;
  padding: 100px 0 0 0;
  margin: 0 5%;

  /* background-color: rgb(245, 232, 253); */
}

/* 路徑 ---------*/
.path {
  width: 100%;
  font-size: 10px;
  color: #5a5a5a;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  text-align:left;
  margin: 10px 0 ;

  padding: 0;
  text-decoration:none;

  /* background-color: rgb(238, 222, 252); */
}

.path a{
  text-decoration:none;
  color: #5a5a5a;
}

/* 商品照片 */
.product_pic_box{
  padding: 0px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_pic_box img{
  object-fit: cover;
      object-position: center;
      height:250px;
      width: auto;
}

/* detail topBox 資訊欄 ---------------------*/
.detail_topBox{
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start

  /* background-color: rgb(230, 198, 167); */
}

/* 品名 --------------*/
.prod_name {
  margin: 0;
  width: 100%;
}

.prod_name>h6{
  font-size: 1rem;
  letter-spacing: .2rem;
}

/* mob : 照片展示_輪播牆 ------------*/
/* .carousel{
  margin: 20px 0 20px 50%;
  transform: translateX(-50%);
  height: 300px;
} */

/* .carousel-item{
  margin-left: 50%;
  transform: translateX(-50%);
} */

/* .car_icon{
  background-color:rgb(182, 182, 182);
} */

/* price --------------------*/
.prod_price{
  /* transform: translateX(20%); */
  display: flex;
  align-items: center;
  font-weight: 700;
  width: 100%;
  font-size: 1rem;
}

/* 產品顏色規格 ------------------*/
/* .spec_color{
  display: flex;
  justify-content:left;
  align-items:center;
  width: 80%;

  color: #5a5a5a;
  font-size: .8rem;
  letter-spacing: .3rem;
} */

/* .spec_color button{
  color: #5a5a5a;
  background-color:white;
  box-shadow:0px 0px 2px rgb(143, 143, 143);
  margin-left: 10px;

  border: transparent;
  border-radius: 2px;
  padding: 5px 12px;
  letter-spacing: .3rem;
  text-align: center;
  font-size: .8rem;
} */

/* 優惠標示 -----------------*/
.prod_discount{
  width: 100%;
  /* margin-top: 5px; */
  padding: 7px;
  text-align: center;
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: .3rem;
  background-color: #D6D4E9;

}

/* 商品描述 -------------------*/
.prod_description{
  max-width: 100%;
  margin: 15px 0;
  padding: 0 0 0 10px;
  border-left: 1px solid #5a5a5a;
  line-height: 2rem;
  letter-spacing: .3rem;
  font-size: .8rem;
  font-weight: 300;

  height: 150px;
  overflow: auto;
}


/* pc:購買數量隱藏 -----------------------------------------*/
.qty_box{
 display: none;
}

.qty_arrow_box{
  display: none;
}

.qty_box input{
  display: none;
}

.qty_reduce_box img{
  display: none;
}

/* pc star --------------------------------- */
@media (min-width: 1024px), print {

    .wrap {
      /*可佔滿垂直剩餘的空間*/
      flex-grow: 1;
    
      min-height: 150px;
      padding: 150px 0 0 0;
      margin: 0 5%;
    
      /* background-color: rgb(245, 232, 253); */
    }

    /* 路徑 ---------*/
    .path {
      width: 100%;
      font-size: 16px;
      color: #5a5a5a;

      padding: 0;
      margin-top: 20px;
      height: 40px;

      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: flex-start;
      
    } 

    /* 商品照片 */
    .product_pic_box{
      padding: 10px 10px 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .product_pic_box img{
      object-fit: cover;
      object-position: center;
      height:500px;
      width: auto;
    }

    /* pc : 照片展示_輪播牆 ------------*/
    /* .pc_carousel{
      margin-top: auto;
    } */

    /* .carousel{
      margin: 10px 0 10px 50%;
      transform: translateX(-50%);
      height: 500px;
    } */

    /* .carousel-item{

     
      margin-left: 50%;
      transform: translateX(-50%);
    } */

    /* .car_icon{
      background-color:rgb(182, 182, 182);
    } */
  
    /* detail topBox 資訊欄 ---------------------*/
    .detail_topBox{
      margin: 0 0 0;
      display: flex;
      flex-direction: column;
      align-items:flex-start;

      /* background-color: rgb(230, 198, 167); */
    }

    /* 品名 --------------*/
    .prod_name {
      margin: 0;
      width: 100%;
    }

    .prod_name>h6{
      font-size: 1.4rem;
      letter-spacing: .3rem;
      font-weight: 700;
    }

    /* price --------------------*/
    .prod_price{
      /* transform: translateX(20%); */
      display: flex;
      font-size: 1.8rem;
      letter-spacing: .3rem;
      font-weight: 700;
      width: 80%;
      margin-top: 5px;

    }

    /* 產品顏色規格 ------------------*/
    /* .spec_color{
      display: flex;
      justify-content:left;
      align-items:center;
      width: 80%;

      color: #5a5a5a;
      font-size: .8rem;
      letter-spacing: .3rem;
    } */

    /* .spec_color button{
      color: #5a5a5a;
      background-color:white;
      box-shadow:0px 0px 2px rgb(143, 143, 143);
      margin-left: 10px;

      border: transparent;
      border-radius: 2px;
      padding: 5px 12px;
      letter-spacing: .3rem;
      text-align: center;
      font-size: .8rem;
    } */

    /* 購買數量 -----------------------------------------*/
    .qty_box{
      width: 250px;
      /* background-color: antiquewhite; */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .qty_arrow_box{
      border: none;
      width: 25px;
      height: 25px;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

    }

    .qty_arrow_box:hover{
      background-color:rgb(190, 190, 190) ;
      border-radius: 50%;
    }

    .qty_box input{
      display: flex;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
    }

    .qty_reduce_box img{
      display: flex;
      object-fit: cover;
      object-position: center;
    }

    .btn-outline-secondary.focus, .btn-outline-secondary:focus{
      box-shadow: 0 0 0 0 transparent;
    }

    .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus{
      box-shadow: 0 0 0 0 transparent;
    }

    .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle{
      background-color:transparent;
      border-color:transparent;
    }


    /* 優惠標示 -----------------*/
    .prod_discount{
      width: auto;
      margin-top: 15px;
      padding: 7px 15px;
      text-align:left;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: .3rem;
      background-color: #EED2C3;

    }

    /* 加入購物車/喜好/比較 --------------------------*/
    .input_box{
      display: flex;
      flex-direction:row;
      width: 70%;
    }

    .input_btn{
      width: 30%;
      margin: 10px 10px 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .input_btn_shop{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      width: 700;
      letter-spacing: .2rem;
      border: none;
      /* outline: transparent; */
      border-radius: 5px;
      background-color: white;
      padding: 15px 10px;
      box-shadow:var(--button-outer)
    }

    .input_btn_shop:hover{
      /* background-color: rgb(188, 251, 255); */
    }

    .input_btn_shop img{
      object-fit: cover;
      width: 20%;
      margin-right: 10px;
    }

    .input_btn_fol_com {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px 0;
      font-size: .8rem;
      width: 400;
      letter-spacing: .2rem;
      border: none;
      /* outline: transparent; */
      border-radius: 5px;
      background-color: transparent;
      padding: 5px 7px;
      /* box-shadow: var(--button-outer); */
      /* cursor: pointer; */
  }

    .input_btn_fol_com img{
      object-fit: cover;
      width: 10%;
      margin-right: 5px;
    }
    
    .btn_fol:hover{
      /* background-color: rgb(253, 215, 240); */
    }

    .btn_com:hover{
      /* background-color: rgb(255, 228, 139); */
    }

    button:focus {
      outline: 0px none;
      outline: 0px auto transparent;
  }


    /* 商品描述 -------------------*/


    .prod_description{
      max-width: 50%;
      margin: 15px 0;
      padding: 0 0 0 10px;
      border-left: 1px solid #5a5a5a;
      line-height: 2rem;
      letter-spacing: .3rem;
      font-size: 1rem;
      font-weight: 300;

      height: 200px;
      overflow-y:scroll;
    }

    .prod_description::-webkit-scrollbar { width: 5px; height: 7px;}
    .prod_description::-webkit-scrollbar-track { background: rgb(104, 104, 104); }
    .prod_description::-webkit-scrollbar-track-piece{ background:#ccc ; }
    .prod_description::-webkit-scrollbar-thumb { background:var(--main-orange); }
    .prod_description::-webkit-scrollbar-thumb:hover { background: #aaa; }



  
}
